body{
    margin:0;
    padding:0;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.logo_back{
    background: #43c0c2 ;
    padding: 56px 0px;
}

.auto_margin{
    margin:auto
}

.orange_text{
    color:#ff7300
}

.green_text{
    color:#53a835
}

.teal_text{
    color:#005073
}

.product_icon{
    margin-bottom: 24px;
}

.status_msg{
    padding:0 10%
}

.text_center{
    text-align: center;
}

.teal_background{
    background: #005073;
}

.text_white{
    color: #ffffff;
}

.medlife_logo{
    padding:0px 0px 38px
}

.m_65{
    margin: 0 65px;
}

.orange_back{
    background: #ff7300
}

.uppercase_text{
    text-transform: uppercase;
}

#toEmail{
    border:none;
    border-radius: 4px;
    height: 44px;
    line-height: 40px;
    width:90%;
    max-width: 350px;
}

.m_16{
    margin : 0 16px
}

.sup_text{
    vertical-align: super;
}

.sm_text{
    font-size: 10px;
}

.details_container{
    padding:44px;
    background: #eef2f7;
    max-height: 540px;
}

.hidden{
    display: none;
}

.sub_header{
    /* width:70%; */
}

.email_field{
    min-height: 45px;
    width: 90%;
    max-width: 350px;
    font-size: 16px;
    border-radius:4px;
    border: solid 1px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 24px
}

.email_submit{
    border:none;
    border-radius: 4px;
    height: 44px;
    line-height: 40px;
    width:90%;
    max-width: 350px;
}

.error_container{
    background: crimson;
    min-height: 20px;
    font-size: 16px;
    width:70%;
    max-width: 300px;
    position: absolute;
    top: 5%;
}

.medium_weight_font{
    font-weight:600
}

.big_font{
    font-size:21px
}

.margin_box{
    margin:10px
}

.acknowledge_container{
    width: 75%;
    max-width: 400px;
}

.top_margin{
    margin-top:12px
}

.sub_mesg2{
    font-size: 12px;
}

::placeholder {
    font-size: 16px;
    opacity: 1; /* Firefox */
}

.action_box{
    padding:32px
}

ul > li{
    color:#005073;
    font-size: 12px;
}

ul{
    padding:0px 16px
}

button{
    font-size: 14px;
}

.email_container{
    padding:16px 24px
}

.blank_container{
    min-height: 60px;
    width:100%
}

#heading_text{
    margin-left:8px
}

#detail_item{
    max-width: 300px;
    margin:auto;
    padding:16px 0;
}

.hide_overflow{
    overflow:hidden
}
  